extends ../layout

block content

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Marca
                th(scope='col') Modelo

        tbody
            each vehi in vehis
                tr
                    td(scope='row') 
                        = vehi.id
                    td=vehi.color
                    td=vehi.marca
                    td=vehi.modelo